:root {
  --topbar_height: 150px;
  --margin: 15px;
  --gap: 210px;
}

body {
  height: 100%;
  background-color: rgb(228, 205, 205);
  padding: var(--margin);
}

div {
  outline: 1px solid black;
  border-radius: 10px;
}

#topbar {
  background-color: white;

  top: var(--margin);
  height: var(--topbar_height);

  left: var(--margin);
  right: var(--margin);

  position: absolute;
}

#bottom-container {
  background-color: rgb(255, 255, 255);

  top: var(--gap);
  bottom: var(--margin);

  left: var(--margin);
  right: var(--margin);

  position: absolute;
}

.slides {
  height: 100%;
  flex-grow: 1;
  margin-right: var(--margin);
}

.menu {
  height: 100%;

  float: right;
  width: 200px;
  text-align: center;
}

.row {
  padding: var(--margin);
  display: flex;
}


