:root {
  --topbar_height: 150px;
  --margin: 15px;
  --gap: 180px;
}

body {
  height: 100%;
  background-color: rgb(196, 196, 196);
  padding: var(--margin);
}

div {
  outline: 1px solid black;
  /* border-radius: 10px; */
}

#topbar {
  background-color: white;

  top: var(--margin);
  height: var(--topbar_height);

  left: var(--margin);
  right: var(--margin);

  position: absolute;
}

#bottom-container {
  background-color: rgb(255, 255, 255);

  top: var(--gap);
  bottom: var(--margin);

  left: var(--margin);
  right: var(--margin);

  position: absolute;
}

.slides {
  height: 100%;
  flex-grow: 1;
  margin-right: var(--margin);
  /* border-radius: 10px 0px 0px 10px; */
  margin-right: 0px;

  overflow-x:auto;
  display: flex;
  justify-content: start;
  flex-direction: row;
}

img {
  padding:10px;
  height: 75%;
  width: auto;
}

.menu {
  height: 100%;
  float: right;
  width: 150px !important;
  text-align: center;
  /* border-radius: 0px 10px 10px 0px; */
  margin-left: 0px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  flex-shrink: 0;
  background-color: rgb(231, 231, 231);
}

.menu_button {
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  /* padding: var(--margin); */
  display: flex;
}


